.filterbar-somefilter-item{
  display: block;
  font-size: 18px;
  border: none;
  background: #fff;
  color: #4f4f4f;
  cursor: pointer;
  text-align: left;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.filterbar-somefilter-item:hover{
  box-shadow: 0 0 5px 1px #bfbfbf;
}

